.product-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rent-price {
  margin: auto;
  padding-bottom: 15px;
}

.date {
  margin: 15px 0px;
}

.title {
  text-align: center;
}