.menu {
  background-color: #0174bc;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

.menu-item {
  color: #f58634;
  font-weight: bold;
}

.menu-link {
  color: white;
  text-decoration: none;
}
