.contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.contact-image {
  max-height: auto;
  width: 95vw;
}

a {
  text-decoration: none;
}

.contact-details {
  text-align: center;
}

.email {
  margin: 10px;
}

.google-map {
  margin-bottom: 20px;
  width: 100vw;
  height: 50vh;
  border: 0;
}

.card {
  margin-bottom: 50px;
}

@media (min-width: 600px) {
  .contact-image {
    max-height: 75vh;
    max-width: 50vw;
  }
}
