footer {
  background-color: black;
  padding: 25px;
  color: white;
}

.name {
  font-weight: bold;
  font-size: x-large;
  padding: 10px;
}

.email {
  color: bisque;
}

.contact-option {
  margin: 5px;
}

.phone {
  color: #0174bc;
  padding: 5px;
}

a {
  padding: 5px;
  text-decoration: none;
}

.footer-below {
  background-color: slategrey;
  padding: 5px;
  font-size: small;
}
